[submodule "schemion-inference"]
	path = schemion-inference
	url = https://github.com/Schemion/schemion-inference.git
[submodule "schemion-api"]
	path = schemion-api
	url = https://github.com/Schemion/schemion-api.git
[submodule "schemion-training"]
	path = schemion-training
	url = git@github.com:Schemion/schemion-training.git
