services:
  server:
    build: 
      context: ./schemion-api
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - database
      - rabbitmq
      - minio
    ports:
      - "8000:8000"
    volumes:
      - ./schemion-api:/app
    command:
      [ "/wait-for-it.sh", "database:5432", "--", "sh", "-c", "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload" ]
  
  inference:
    build:
      context: ./schemion-inference
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - database
      - rabbitmq
      - minio
    volumes:
      - ./schemion-inference:/app
    command:
      ["/wait-for-it.sh", "rabbitmq:5672", "--", "sh", "-c", "python app/main.py" ]

  database:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: schemion
    ports:
      - "5432:5432"
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
volumes:
  postgres_data:
  minio_data:
  rabbitmq_data: