argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
certifi==2025.11.12
cffi==2.0.0
minio==7.2.19
psycopg2-binary==2.9.11
pycparser==2.23
pycryptodome==3.23.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
urllib3==2.5.0
